body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

#menu {
    background-color: #f2f2f2;
    padding: 20px;
    width: 30%;
    min-width: 250px;
}

#content {
    width: 80%;
    padding: 20px;
}

#course-list {
    list-style: none;
    padding: 0;
}

#course-list li {
    margin-bottom: 10px;
    cursor: pointer;
}

.minicurso {
    display: none;
    padding: 50px 100px 50px 100px;
}

#course-info img {
    max-width: 100%;
    height: auto;
}